* {
    box-sizing: border-box;
}

.logo-index-img img {
    width: 50px;
    height: auto;
}

.customer-btn{
    display: flex;
    align-items: center;
}
.img-footer {
    width: 50px;
    height: auto
}