@charset "utf-8";
.nav {
    float: left;
    width: 100%;
    background-color: #AC00FF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;        
}
.nav-head>.nav-heading{
	float: left;
	margin: 10px;
}
.nav-head>.nav-heading>a{
	text-transform: uppercase;
   color: white;
	text-decoration: none;
}
.nav-head .nav-heading{
	list-style: none;
	position: relative;
}
.nav-head .nav-heading a{
	padding: 10px;
   line-height: 20px;
   display: inline-block;
}
.nav-head .nav-heading .nav-menu {
	display: none;
   position: absolute;
   top: 0;
   left: 100%;
   width: 80px;
   background-color: black;
   padding: 5px 20px;
	
}
.nav-heading .nav-menu .nav-menu-item a{
	color: white;
	text-decoration: none;
	
}
.nav-heading .nav-menu .nav-menu-item:hover{
	background-color: #AC00FF;
}

.nav-head .nav-heading:hover>.nav-menu{
	display: block;
	
}
.nav-head> .nav-heading >.nav-menu{
	top: 40px;
   left: 0;
}
