body{
    margin: 0;
}
#main{
    border: #ff0000 solid 3px;
}
#header{
    height: 150px;
    width: 100%;
    background-color: #66cc00;
    /* thuộc tính này là để khi di chuyển thẻ div thì nó khong bị ảnh hưởng lên thẻ khác của trang */
    position: relative;
}
#header div{
    color: #ff0000;
}
#mid{
    background-color: #666666;
    color: #ff0000;
}
#top-menu{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    border: solid 2px blue;
}
#top-menu div{
    line-height: 40px;
    height: 40px;
    display: inline-table;
    padding: 5px 15px;
    border: solid 2px blue;
}
#top-menu div:hover{
    background-color: red;
}

#left-menu{
    width: 20%;
    float: left;
    background-color: black;
    border: solid 2px #990033;
}
#left-menu div{
    border: solid 1px red;
    margin-top: 3px;
    color: white;
}
#left-menu a{
    text-decoration: none;
}
#left-menu div:hover{
    background-color: red;
}
#content{
    width: 79,3%;
    float: right;
    border: #ff0000 solid 3px;
    color: #ff0000;
}
#footer{
    height: 150px;
    width: 100%;
    background-color: #6666ff;
    clear: both;
    line-height: 150px;
    text-align: center;
    font-size: 36px;
}